</br>
</br>
<div>
	<p align="center">
		<a href="https://glitch401.github.io/Automated-Question-Answering/" target="_blank"><img class="image" src="../assets/images/aqa.jpeg"  alt="Automated QnA" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://glitch401.github.io/virtualcloth/" target="_blank">
			<img src="https://media.giphy.com/media/3o7aDfcLmiTggZUnxm/giphy.gif" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="https://glitch401.github.io/fuzzy-classification/" target="_blank"><img src="http://i.huffpost.com/gen/5068256/images/o-FAKE-NEWS-facebook.jpg" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp;
	</p>
</div>
